.login-form {
  display: flex;
  position: relative;
  top: 320px;
  left: 45%;
}

.login-form_input {
  border: 0 solid black;
  border-bottom: solid;
  background-color: rgba(1, 1, 1, 0);
  font-size: 15px;
  color: white;
  width: 135px;
}

.login-form_button {
  border-radius: 5px;
  background-color: rgba(1, 1, 1, 0.3);
  color: white;
  margin-left: 10px;
}

.login-form ::placeholder {
  color: white;
}

.hidden {
  display: none;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#clock {
  margin-top: 30px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(1, 1, 1, 0.2);
  font-size: 200px;
  padding-top: 30px;
}

#greeting {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(1, 1, 1, 0.2);
  padding-bottom: 50px;
  padding-top: 50px;
}

.weather {
  border-radius: 50%;
  box-shadow: 0px 0px 15px white;
  width: 100px;
  height: 100px;
  position: relative;
  left: 20%;
  top: -320px;
}

#todo-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#todo-form input {
  border: 0 solid black;
  border-bottom: solid;
  background-color: rgba(1, 1, 1, 0);
  font-size: 30px;
  color: white;
  width: 350px;
}

#todo-form ::placeholder {
  color: white;
  font-size: 23px;
  text-align: center;
}

#todo-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 80px;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

#todo-list li {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

#todo-list li button {
  background-color: rgba(1, 1, 1, 0);
  border: none;
  position: relative;
  left: 10px;
  top: -2px;
}

#quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  background-color: rgba(1, 1, 1, 0.2);
  padding: 10px;
  box-shadow: 0px 0px 15px white;
}

#quote span {
  color: white;
}

#quote span:first-child {
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

#quote span:last-child {
  margin-top: 20px;
}

#weather {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(1, 1, 1, 0.2);
}

#weather span {
  color: white;
  display: flex;
}

#weather span:first-child {
  font-size: 25px;
  border-bottom: white solid;
}

#weather span:last-child {
  margin-top: 10px;
  font-size: 10px;
}

.pannel {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
